apiVersion: v1
kind: Secret
metadata:
  name: supplychain-preprocessor
  labels:
    app: ssd
{{ include "ssd.standard-labels" . | indent 4 }}
    component: supplychain-preprocessor
stringData:
{{ (tpl (.Files.Glob "config/supplychain-preprocessor/globalConfig.yml").AsConfig . ) | indent 2 }}
{{ (tpl (.Files.Glob "config/supplychain-preprocessor/jenkinsConfig.yml").AsConfig . ) | indent 2 }}
{{ (tpl (.Files.Glob "config/supplychain-preprocessor/spinnakerConfig.yml").AsConfig . ) | indent 2 }}
{{ (tpl (.Files.Glob "config/supplychain-preprocessor/argocdConfig.yml").AsConfig . ) | indent 2 }}
{{ (tpl (.Files.Glob "config/supplychain-preprocessor/githubactionsConfig.yml").AsConfig . ) | indent 2 }}
